/* #region GLOBALS */
:root {
  --main-font-color: black;
  --pastel-yellow: #fdfd96;
  --pepperoni-red: #b31925;
  --box-shadow-thin: 2px 2px 5px #7a4b5454, -2px 2px 5px #7a4b5454;
}

html {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

button {
  text-align: left;
  background-color: #ffffff;
  border: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 0.25rem;
}

button:hover {
  background-color: #efefef;
  font-weight: bold;
}

textarea,
input[type=text] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* #endregion */

/* #region HEADER */
header {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  background-color: var(--pastel-yellow);
  color: var(--main-font-color);
  padding: 8px;
}

address {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

address div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 540;
  gap: 5px;
}

address div img {
  width: 1.5rem;
}

address div p {
  font-size: 12px;
}
/* #endregion */

/* #region NAVIGATION */
.nav-main {
  padding: 20px;
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  box-shadow: var(--box-shadow-thin);
}

.nav-main ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.nav-main ul img {
  width: 64px;
}

.nav-main ul a {
  text-decoration: none;
  color: black;
}

.nav-main ul a:hover {
  color: var(--pepperoni-red);
}

.nav-main ul .underline {
  background-color: var(--pepperoni-red);
  margin-top: 4px;
  border: 1px solid black;
}
/* #endregion */

/* #region FOOTER */
footer {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: var(--pepperoni-red);
}
/* #endregion */

/* #region HOME PAGE */

#home-page {
  flex: 1 1 auto;
}

#home-page main {
  border: 1px solid black;
}

#home-page .content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  position: relative;
  max-width: 800px;
  width: 100%;
}

#home-page .content h1 {
  font-weight: bold;
  font-size: 22px;
}

#header-div {
  width: 100%;
  display: flex;
  align-items: end;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  gap: 10px;
  box-sizing: border-box;
}

#header-date {
  color: gray;
  bottom: 1px;
  position: relative;
}

#header-date {
}

#home-page .content #todo-master-container {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.todo-meta-data-div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
}

.todo-due-date {
  background-color: yellowgreen;
  color: white;
  padding: 3px;
  border-radius: 0.25rem;
}

.todo-due-date-overdue {
  background-color: red;
  color: white;
  padding: 3px;
  border-radius: 0.25rem;
}

.todo-list {
  border-radius: 0.25rem;
  padding: 3px;
  background-color: grey;
  color: white;
}

.todo-status-complete {
  border-radius: 0.25rem;
  padding: 3px;
  background-color: blue;
  color: white;
}

.todo-status-in-progress {
  border-radius: 0.25rem;
  padding: 3px;
  background-color: lightblue;
  color: white;
}

.todo-status-to-do {
  border-radius: 0.25rem;
  padding: 3px;
  background-color:black;
  color: white;
}

.todo-priority-high {
  border-radius: 0.25rem;
  padding: 3px;
  background-color: crimson;
  color: white;
}

.todo-priority-medium {
  border-radius: 0.25rem;
  padding: 3px;
  background-color: orange;
  color: white;
}

.todo-priority-low {
  border-radius: 0.25rem;
  padding: 3px;
  background-color: lightgrey;
  color: white;
}

.add-todo-btn {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  color: rgb(124, 123, 123);
}

.task-form {
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  padding: 3px;
  box-sizing: border-box;
  border-radius: 0.25rem;
}

.field {
  margin-bottom: 5px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: 0;
  font-size: 14px;
  resize: none;
}

.extra-input {
  border: 1px solid rgb(221, 221, 221);
  padding: 3px;
  border-radius: 0.25rem;
  margin: 0;
}

.form-bottom-fields-container {
  display: flex;
}

.extra-fields-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.submit-task-button {
  border: 1px solid rgb(221, 221, 221);
  padding: 3px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  background-color: blue;
  color: white;
  margin-top: 1px;
}

.submit-task-button:hover {
  background-color: cornflowerblue;
}

/* #endregion */

/* #region ABOUT PAGE */

#about-page {
  flex: 1 1 auto;
}

#about-page main {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

#about-page main .content {
  padding: 60px;
  font-size: 26px;
  align-items: start;
  width: 80%;
}

/* #endregion */

/* #region MENU PAGE */

#menu-page {
  flex: 1 1 auto;
}

#menu-page main {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

#menu-page main .content {
  padding: 60px;
  font-size: 26px;
  align-items: start;
}

/* #endregion */

/* #region CONTACT PAGE */
#contact-page {
  flex: 1 1 auto;
}

#contact-page main {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

#contact-page main .content {
  padding: 60px;
  font-size: 18px;
  align-items: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

/* #endregion */
